@theme {
  --font-poppins: "Poppins", "Inter", "sans-serif";
  --font-inter: "Inter", "sans-serif";
  --font-geist: "Geist Mono", "Inter", "sans-serif";
  --font-space: "Space Grotesk", "Inter", "sans-serif";
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhai+2:wght@400..800&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Petrona:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');


@import "tailwindcss";


.himanshu ::selection {
  background-color: #fff;
  color: #000;
}
